# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

bin/
pkg/

back_end/src/github.com/
back_end/src/golang.org/
back_end/src/sourcegraph.com

front_end/homefolio/node_modules

.DS_Store
